[submodule "Plugins/nikic/FastRoute"]
	path = Plugins/nikic/FastRoute
	url = https://github.com/nikic/FastRoute.git
[submodule "Plugins/php-fig/log"]
	path = Plugins/php-fig/log
	url = https://github.com/php-fig/log.git
[submodule "Plugins/php-fig/http-message-util"]
	path = Plugins/php-fig/http-message-util
	url = https://github.com/php-fig/http-message-util.git
[submodule "Plugins/php-fig/http-message"]
	path = Plugins/php-fig/http-message
	url = https://github.com/php-fig/http-message.git
[submodule "Plugins/php-fig/link-util"]
	path = Plugins/php-fig/link-util
	url = https://github.com/php-fig/link-util.git
[submodule "Plugins/php-fig/container"]
	path = Plugins/php-fig/container
	url = https://github.com/php-fig/container.git
[submodule "Plugins/php-fig/cache-util"]
	path = Plugins/php-fig/cache-util
	url = https://github.com/php-fig/cache-util.git
[submodule "Plugins/php-fig/link"]
	path = Plugins/php-fig/link
	url = https://github.com/php-fig/link.git
[submodule "Plugins/php-fig/cache"]
	path = Plugins/php-fig/cache
	url = https://github.com/php-fig/cache.git
[submodule "Plugins/Seldaek/monolog"]
	path = Plugins/Seldaek/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "Plugins/hassankhan/config"]
	path = Plugins/hassankhan/config
	url = https://github.com/hassankhan/config.git
[submodule "Plugins/mongodb/mongo-php-library"]
	path = Plugins/mongodb/mongo-php-library
	url = https://github.com/mongodb/mongo-php-library.git
[submodule "Plugins/php-curl-class/php-curl-class"]
	path = Plugins/php-curl-class/php-curl-class
	url = https://github.com/php-curl-class/php-curl-class.git
[submodule "Plugins/guzzle/RingPHP"]
	path = Plugins/guzzle/RingPHP
	url = https://github.com/guzzle/RingPHP.git
[submodule "Plugins/guzzle/streams"]
	path = Plugins/guzzle/streams
	url = https://github.com/guzzle/streams.git
[submodule "Plugins/reactphp/promise"]
	path = Plugins/reactphp/promise
	url = https://github.com/reactphp/promise.git
[submodule "Plugins/elastic/elasticsearch-php"]
	path = Plugins/elastic/elasticsearch-php
	url = https://github.com/elastic/elasticsearch-php.git
